/*
  * Use => Desktop and Large Screen Tablet
  * Sizes => 1920, 1400, 1200, 1024
  * unit => PX
  */
@media (max-width: 1200px) {
  /* Container Full Responsive */
  .container {
    min-width: 100%;
    padding: 0 30px;
  }
}

/*
  * Use => Tablet Screen
  * Sizes => 992, 767
  * unit => PX
  */
@media (max-width: 992px) {
  .index-body .modal_form .content .form-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .index-body .modal_form .content .form_img {
    display: none;
  }
  .index-body .layout .text-content .knowMore,
  .index-body .layout .text-content .consultation,
  .index-body .layout .text-content .see-Services {
    text-align: center;
    margin-bottom: 50px !important;
  }
}

@media (max-width: 768px) {
  .index-body .layout .footer .footer-content {
    padding: 40px 15px 10px;
  }
  .index-body .layout .footer .footer-content .footer-quick-links ul li {
    padding-right: 20px;
  }
  .index-body .layout .footer .footer-content .social-links ul li {
    padding-right: 20px;
  }
  .index-body .layout .text-content .knowMore,
  .index-body .layout .text-content .consultation,
  .index-body .layout .text-content .see-Services {
    text-align: center;
    margin-bottom: 80px !important;
  }
}

/*
  * Use => Mobile Screen
  * Sizes => 576, 414, 375
  * unit => PX
  */
@media (max-width: 576px) {
  .index-body .modal_form .content {
    width: 90%;
    padding: 40px 20px 20px 20px;
  }
  .index-body .layout .footer .footer-content .footer-quick-links ul li {
    padding: 0 5px;
  }
  .index-body .layout .footer .footer-content .social-links ul li {
    padding: 0 10px;
  }
  .index-body .layout .footer .block-copyright .copyright-content .en-text {
    display: none;
  }
  .index-body .layout .footer .block-copyright .copyright-content .fa-text {
    text-align: center;
  }
}

/*
  * Use => Desktop and Large Screen Tablet
  * Sizes => 1920, 1400, 1200, 1024
  * unit => PX
  */
@media (max-width: 1024px) {
  .main-page .keyboarda-team-section .dotted-shape {
    display: none;
  }
  .main-page .services-section .block-services .text-content {
    padding: 40px;
  }
  .main-page .latest-project-keyboarda {
    margin: 0 -100px 70px;
  }
}

/*
  * Use => Tablet Screen
  * Sizes => 992, 768
  * unit => PX
  */
@media (max-width: 992px) {
  .main-page .Consulting-demand-section .consultation-btn {
    margin-top: 10px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .layout .main-page {
    /* keyboarda-team */
    /* services section */
    /* keyboarda operation  */
    /* why keyboarda*/
  }
  .layout .main-page .keyboarda-team-section {
    margin-bottom: 100px;
  }
  .layout .main-page .services-section {
    margin-bottom: 70px;
  }
  .layout .main-page .services-section .solar-system {
    display: none;
  }
  .layout .main-page .services-section .block-services .boxes .bottom-dotted {
    left: -7px;
    bottom: 7px;
  }
  .layout .main-page .services-section .block-services .boxes .up-dotted {
    right: -7px;
    top: -23px;
  }
  .layout .main-page .services-section .block-services .boxes .contentBox .textBox__excerpt {
    font-size: 14px;
  }
  .layout .main-page .services-section .block-services .text-content {
    padding: 0;
  }
  .layout .main-page .keyboarda-operation {
    margin-bottom: 70px;
  }
  .layout .main-page .keyboarda-operation .circle-shape-left {
    display: none;
  }
  .layout .main-page .keyboarda-operation .operation-keyboarda-block {
    padding: 40px 0 10px;
  }
  .layout .main-page .keyboarda-operation .operation-keyboarda-block .operation__info {
    margin-bottom: 45px;
  }
  .layout .main-page .keyboarda-operation .operation-keyboarda-block .operation__icon {
    margin-bottom: 10px;
  }
  .layout .main-page .keyboarda-operation .operation-keyboarda-block .operation__number {
    margin-bottom: 10px;
  }
  .layout .main-page .why-keyboarda-section {
    margin-bottom: 70px;
  }
  .layout .main-page .why-keyboarda-section .shape-on-text {
    top: -127px;
  }
  .layout .main-page .why-keyboarda-section .text-content {
    margin-bottom: 50px;
  }
  .layout .main-page .why-keyboarda-section .whyKeyboarda {
    padding-right: 0;
    margin-bottom: 50px;
  }
  .layout .main-page .Consulting-demand-section .consulting-block .consultation {
    margin-bottom: 20px;
  }
  .layout .main-page .Consulting-demand-section .consulting-block .consultation__title {
    font-size: 22px;
    margin-bottom: 14px;
  }
  .layout .main-page .Consulting-demand-section .consulting-block .consultation__text {
    font-size: 14px;
  }
  .layout .main-page .Consulting-demand-section .consulting-block .consultation-btn {
    text-align: center;
  }
  .layout .main-page .Consulting-demand-section .consulting-block .consultation-btn .demand-btn {
    padding: 12px 45px;
  }
  .layout .main-page .Consulting-demand-section {
    background-size: auto;
    padding: 45px 12px 50px;
  }
  .layout .main-page .Consulting-demand-section .consultation__title {
    font-size: 20px;
  }
  .layout .main-page .Consulting-demand-section .consultation__text {
    font-size: 14px;
    margin-bottom: 30px;
  }
  .layout .main-page .Consulting-demand-section .consultation-btn {
    text-align: center;
  }
}

/*
  * Use => Mobile Screen
  * Sizes => 576, 414, 375
  * unit => PX
  */
@media (max-width: 576px) {
  .layout .main-page {
    /* all section heading*/
  }
  .layout .main-page .section-heading {
    font-size: 22px;
  }
  .layout .main-page .technology-carousel-section .section-heading {
    font-size: 19px;
  }
  .layout .main-page .technology-carousel-section .section-heading.right-left-zigzag-style span:before, .layout .main-page .technology-carousel-section .section-heading.right-left-zigzag-style span:after {
    display: none;
  }
  .layout .main-page .technology-carousel-section .technology-carousel-block:before, .layout .main-page .technology-carousel-section .technology-carousel-block:after {
    width: 50px;
  }
  .layout .block-copyright .copyright-content .en-text {
    display: none;
  }
  .layout .block-copyright .copyright-content .fa-text {
    text-align: center;
  }
}

@media (max-width: 414px) {
  .layout .main-page {
    /*technology Brand Carousel*/
  }
  .layout .main-page .keyboarda-team-section .shape-top-left {
    display: none;
  }
  .layout .main-page .services-section .solar-system {
    visibility: hidden;
  }
  .layout .main-page .technology-carousel-section .technology-carousel-block .technology-carousel-arrow.button-next {
    left: 40px;
  }
  .layout .main-page .technology-carousel-section .technology-carousel-block .technology-carousel-arrow.button-prev {
    right: 40px;
  }
}
/*# sourceMappingURL=index-styles.css.map */