/*
* Color Palette
*/
/* Archive Page */
.archive-wiki {
  padding-top: 150px;
}
.archive-wiki .archive-post-list {
  /* Section Heading */
  /* Post List */
}
.archive-wiki .archive-post-list .section-heading {
  margin-bottom: 62px;
}
.archive-wiki .archive-post-list .section-heading .h-text {
  color: #1e272e;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}
.archive-wiki .archive-post-list .section-heading .filter-block {
  padding: 0 200px;
  margin-bottom: 60px;
}
.archive-wiki .archive-post-list .section-heading .filter-block .field-col .item-inner {
  position: relative;
}
.archive-wiki .archive-post-list .section-heading .filter-block .field-col .item-inner label {
  width: 100%;
  color: #404040;
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 2px;
}
.archive-wiki .archive-post-list .section-heading .filter-block .field-col .item-inner select {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #c7c7d2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  background: #ffffff url("../../../images/base/icons/down-arrow.svg") no-repeat 15px center;
}
.archive-wiki .archive-post-list .section-heading .filter-block .field-col .item-inner input[type=text] {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #c7c7d2;
  background-color: #ffffff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px 0 95px;
}
.archive-wiki .archive-post-list .section-heading .filter-block .field-col .item-inner input[type=submit] {
  border: none;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  height: 35px;
  border-radius: 5px 0 0 5px;
  background-color: #324b6b;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  transition: 0.3s;
}
.archive-wiki .archive-post-list .section-heading .filter-block .field-col .item-inner input[type=submit]:hover {
  background-color: #0b1e5f;
}
.archive-wiki .archive-post-list .article-list .item-inner {
  background: #ffffff;
  border: 1px solid #f1f1f1;
  transition: 0.3s;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 10px;
}
.archive-wiki .archive-post-list .article-list .item-inner .thumbnail-article {
  margin-bottom: 11px;
  display: inline-block;
  width: 100%;
  position: relative;
}
.archive-wiki .archive-post-list .article-list .item-inner .thumbnail-article img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-info {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-info .article-title {
  transition: 0.3s;
  color: #1e272e;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-info .excerpt {
  display: inline-block;
  width: 100%;
  color: #1e272e;
  font-size: 13px;
  line-height: 30.64px;
  text-align: justify;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-item-footer {
  padding: 20px 20px 25px;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-item-footer .date-col {
  font-size: 12px;
  color: #74758f;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-item-footer .more-link {
  direction: rtl;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-item-footer .more-link span {
  color: #324b6b;
  position: relative;
  font-size: 12px;
}
.archive-wiki .archive-post-list .article-list .item-inner .article-item-footer .more-link span::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #0b1e5f;
  position: absolute;
  bottom: -3px;
  right: 0;
  transition: 0.3s;
}
.archive-wiki .archive-post-list .article-list .item-inner:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1.03);
  border: 1px solid transparent;
}
.archive-wiki .archive-post-list .article-list .item-inner:hover .article-info .article-title {
  color: #0b1e5f;
}
.archive-wiki .archive-post-list .article-list .item-inner:hover .article-item-footer .more-link span::after {
  width: 100%;
}

.custom-pagination {
  font-size: 15px;
  font-weight: 500;
  color: #b8b8b8;
  margin: 20px 0 35px;
}
.custom-pagination ul {
  padding: 20px 0;
  margin: 0;
  list-style: none;
}
.custom-pagination ul li {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
.custom-pagination ul li.arrow-item {
  font-size: 12px;
  margin: 0 6px;
}
.custom-pagination ul li.arrow-item span {
  position: relative;
  top: 3px;
}
.custom-pagination ul li span.active {
  color: #324b6b;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
  display: inline-block;
  width: 100%;
  height: 100%;
}
.custom-pagination ul li span.dots {
  cursor: default;
}
.custom-pagination ul li a {
  color: #b8b8b8;
  transition: 0.3s;
}
.custom-pagination ul li a:hover {
  color: #0b1e5f;
}/*# sourceMappingURL=wiki-styles.css.map */