/*
  * Use => Desktop and Large Screen Tablet
  * Sizes => 1920, 1400, 1200, 1024
  * unit => PX
  */
@media (max-width: 1200px) {
  /* Container Full Responsive */
  .container {
    min-width: 100%;
    padding: 0 30px;
  }
}

/*
  * Use => Tablet Screen
  * Sizes => 992, 767
  * unit => PX
  */
@media (max-width: 992px) {
  .index-body .modal_form .content .form-block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
  .index-body .modal_form .content .form_img {
    display: none;
  }
  .index-body .layout .text-content .knowMore,
  .index-body .layout .text-content .consultation,
  .index-body .layout .text-content .see-Services {
    text-align: center;
    margin-bottom: 50px !important;
  }
}

@media (max-width: 768px) {
  .index-body .layout .footer .footer-content {
    padding: 40px 15px 10px;
  }
  .index-body .layout .footer .footer-content .footer-quick-links ul li {
    padding-right: 20px;
  }
  .index-body .layout .footer .footer-content .social-links ul li {
    padding-right: 20px;
  }
  .index-body .layout .text-content .knowMore,
  .index-body .layout .text-content .consultation,
  .index-body .layout .text-content .see-Services {
    text-align: center;
    margin-bottom: 80px !important;
  }
}

/*
  * Use => Mobile Screen
  * Sizes => 576, 414, 375
  * unit => PX
  */
@media (max-width: 576px) {
  .index-body .modal_form .content {
    width: 90%;
    padding: 40px 20px 20px 20px;
  }
  .index-body .layout .footer .footer-content .footer-quick-links ul li {
    padding: 0 5px;
  }
  .index-body .layout .footer .footer-content .social-links ul li {
    padding: 0 10px;
  }
  .index-body .layout .footer .block-copyright .copyright-content .en-text {
    display: none;
  }
  .index-body .layout .footer .block-copyright .copyright-content .fa-text {
    text-align: center;
  }
}

/*
  * Use => Desktop and Large Screen Tablet
  * Sizes => 1920, 1400, 1200, 1024
  * unit => PX
  */
@media (max-width: 1024px) {
  .layout .services-page .services-section.keyboarda-services .block-services .services__text {
    padding: 0 130px;
  }
  .layout .services-page .services-section.keyboarda-services .block-services .services__text br {
    display: none;
  }
}

/*
  * Use => Tablet Screen
  * Sizes => 992, 768
  * unit => PX
  */
@media (max-width: 768px) {
  .layout .services-page .get-consultation-section .shape-right-consultation {
    visibility: hidden;
  }
  .layout .services-page .get-consultation-section .text-content .consultation {
    text-align: center;
    margin-bottom: 80px;
  }
  .layout .services-page .get-consultation-section .get-consultation {
    padding-right: 0;
  }
  .layout .services-page .services-section.keyboarda-services .block-services .boxes .bottom-dotted {
    left: -6px;
    bottom: 5px;
  }
  .layout .services-page .services-section.keyboarda-services .block-services .boxes .up-dotted {
    right: -7px;
    top: -22px;
  }
  .layout .services-page .services-section.keyboarda-services .block-services .boxes .contentBox .textBox__excerpt {
    font-size: 14px;
  }
  .layout .services-page .services-section.keyboarda-services .block-services .services__text {
    padding: 0 48px;
  }
}

/*
  * Use => Mobile Screen
  * Sizes => 576, 414, 375
  * unit => PX
  */
@media (max-width: 576px) {
  .layout .services-page .keyboarda-services .left-shape-services {
    visibility: hidden;
  }
  .layout .services-page .keyboarda-services .block-services .services__text {
    text-align: justify;
    padding: 0 10px;
  }
}

@media (max-width: 414px) {
  .layout .services-page .services-section.keyboarda-services .block-services .services__text {
    padding: 0 42px;
    text-align: justify;
  }
}
/*# sourceMappingURL=services-styles.css.map */