@import "../../_sass/variable";
@import "../../_sass/mixins";

.main-page {
  margin-top: 120px;
  /* keyboarda team section */
  .keyboarda-team-section {
    position: relative;
    margin-bottom: 150px;

    .keyboarda-team {
      .keyboardaTeam {
        padding-top: 40px;

        &__image {
          width: 100%;
        }
      }
    }

    .dotted-shape {
      position: absolute;
      top: 89px;
      right: 0;
      z-index: -1;
    }

    .shape-top-left {
      position: absolute;
      top: 130px;
      left: -20px;
      z-index: -1;
    }
  }

  /* services section */
  .services-section {
    .solar-system {
      position: absolute;
      left: -270px;
      top: -186px;
      z-index: -2;
      opacity: 0.5;
      animation: solarSystem 290s linear infinite;
    }

    @keyframes solarSystem {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  /* keyboarda operation */
  .keyboarda-operation {
    margin-bottom: 150px;
    position: relative;

    .operation-keyboarda-block {
      padding: 40px 0;
      text-align: center;
      background-color: #e6e6f2;
      border-radius: 5px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      .operation {
        display: inline-block;

        &__icon {
          display: inline-block;
          margin-bottom: 18px;

          img {
            width: 100%;
            max-width: 140px;
            min-height: 140px;
          }
        }
        &__number {
          display: block;
          margin-bottom: 18px;
          font-size: 32px;
          font-weight: 700;
          color: #575a89;
        }

        &__text {
          color: #2f2e41;
          font-size: 22px;
          font-weight: 400;
        }
      }
    }

    .circle-shape-left {
      position: absolute;
      left: -184px;
      top: 70px;
      z-index: -1;
    }
  }

  /* latest project */
  .latest-project-keyboarda {
    margin-bottom: 145px;
    position: relative;

    .section-heading {
      margin-bottom: 40px;
    }

    .block-latest-project {
      background: rgb(50, 75, 107);
      background: linear-gradient(
        90deg,
        rgba(50, 75, 107, 1) 0%,
        rgba(11, 30, 95, 1) 52%,
        rgba(61, 200, 233, 1) 100%
      );
      padding: 50px 100px 50px;

      .swiper-container-project {
        width: 100%;
        height: 100%;
        padding: 25px 0;

        .swiper-bullet {
          position: relative;
          text-align: center;
          bottom: -30px;

          .swiper-pagination-bullet {
            background-color: #dedee0;

            &.swiper-pagination-bullet-active {
              background-color: #ffffff;
            }
          }
        }

        .swiper-wrapper {
          .swiper-slide {
            width: 350px !important;

            .item-inner {
              padding: 35px 35px 28px;
              border: 1px solid #e1e1e1;
              background-color: $Light_Color;
              box-shadow:0px 3px 8px rgba(0, 0, 0, 0.24);
              -webkit-box-shadow:0px 3px 8px rgba(0, 0, 0, 0.24);
              border-radius: 5px;
              text-align: center;
              img {
                width: 100%;
                max-height: 250px;
                border: 3px solid #ffffff;
                border-radius: 6px;
                margin-bottom: 25px;
              }

              .see-project-btn {
                background-color: $Base_Color;
                display: inline-block;
                color: #ffffff;
                font-size: 16px;
                padding: 12px 65px;
                border: 1px solid #ffffff;
                border-radius: 8px;
                transition: 0.3s;

                &:hover {
                  padding: 12px 80px;
                  background-color: #0b1e5f;
                  border: 1px solid transparent;
                }
              }
            }
          }
        }
      }
    }
  }

  /* keyboarda skills */
  .keyboarda-skills-section {
    margin-bottom: 150px;
    position: relative;

    .circle-shape-right {
      position: absolute;
      z-index: -1;
      top: -190px;
      right: -85px;
      transform: rotate(180deg);
    }

    .content-box {
      background: #ffffff
        url("../../../images/base/index/section5/keyboarda-team-skills.png")
        no-repeat center/cover;
      min-height: 435px;
      padding: 50px;
      border-radius: 10px;
      box-shadow:0px 8px 24px rgba(149, 157, 165, 0.2);
      -webkit-box-shadow:0px 8px 24px rgba(149, 157, 165, 0.2);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .section-heading {
        width: 100%;
        margin-bottom: 15px;
      }

      @import url(https://fonts.googleapis.com/css?family=Roboto:700,400,300);

      $spacing: 1rem;
      $themeColor: #3dc8e9;
      $backColor: #ddd;
      $textShadow: rgba(black, 0.35) 1px 1px 1px;

      .skills {
        .skill-name {
          color: #333;
          font-size: 17px;
          font-weight: 500;
        }

        .progress--circle {
          position: relative;
          margin: $spacing;
          width: 152px;
          height: 152px;
          border-radius: 50%;
          background-color: $backColor;

          &:before {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            width: 122px;
            height: 122px;
            border-radius: 50%;
            background-color: white;
          }

          &:after {
            content: "";
            display: inline-block;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background-color: $themeColor;
          }
        }

        .progress__number {
          position: absolute;
          top: 52%;
          width: 100%;
          line-height: 1;
          margin-top: -0.75rem;
          text-align: center;
          font-size: 1.5rem;
          color: #777;
        }
      }

      $step: 5;
      $loops: round(100 / $step);
      $increment: 360 / $loops;
      $half: round($loops / 2);
      @for $i from 0 through $loops {
        .progress--bar.progress--#{$i * $step}:after {
          width: $i * $step * 1%;
        }
        .progress--circle.progress--#{$i * $step}:after {
          @if $i < $half {
            $nextDeg: 90deg + ($increment * $i);
            background-image: linear-gradient(
                90deg,
                $backColor 50%,
                transparent 50%,
                transparent
              ),
              linear-gradient(
                $nextDeg,
                $themeColor 50%,
                $backColor 50%,
                $backColor
              );
          } @else {
            $nextDeg: -90deg + ($increment * ($i - $half));
            background-image: linear-gradient(
                $nextDeg,
                $themeColor 50%,
                transparent 50%,
                transparent
              ),
              linear-gradient(
                270deg,
                $themeColor 50%,
                $backColor 50%,
                $backColor
              );
          }
        }
      }
    }
  }

  /* why keyboarda section */
  .why-keyboarda-section {
    margin-bottom: 150px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-image: radial-gradient(
        circle 324px at center,
        rgba(10, 40, 48, 0.15) 0,
        rgba(11, 46, 54, 0) 100%
      );
      margin-right: -190px;
      width: 650px;
      height: 650px;
      right: 100%;
      top: 120px;
      z-index: -2;
    }

    .whyKeyboarda {
      padding-right: 50px;

      &__image {
        width: 100%;
      }
    }

    .shape-on-text {
      position: absolute;
      top: -40px;
      right: 50px;
      z-index: -2;
    }
  }

  /*customers viewpoint*/
  .customers-viewpoint-section {
    margin-bottom: 150px;
    position: relative;

    .multiple-circle {
      position: absolute;
      top: 0;
      right: -44px;
      z-index: -1;
    }

    .section-heading {
      margin-bottom: 20px;
    }

    .block-customer {
      .customer-swiper {
        margin: 0 -257px;
        padding: 25px 0;

        .swiper-slide {
          padding: 0;
          transition: 0.4s;
          opacity: .4;
          transform: scale(.8);

          &.swiper-slide-active{
            opacity: 1;
            transform: scale(1);
            .customers__viewpoint{
              opacity: 1;
            }
          }

          .customers {
            position: relative;
            min-height: 300px;
            background-color: $Light_Color;
            border-radius: 20px;
            padding: 29px 25px 40px 25px;
            border: 1px solid $Light_Color;
            text-align: center;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

            &:after {
              content: "\e817";
              font-family: fontello !important;
              font-style: normal !important;
              font-weight: 400 !important;
              font-variant: normal !important;
              text-transform: none !important;
              line-height: 1;
              position: absolute;
              color: #e3e3e3;
              font-size: 24px;
              left: 30px;
              bottom: 20px;
            }

            &:before {
              content: "\e816";
              font-family: fontello !important;
              font-style: normal !important;
              font-weight: 400 !important;
              font-variant: normal !important;
              text-transform: none !important;
              line-height: 1;
              position: absolute;
              color: #e3e3e3;
              font-size: 24px;
              right: 30px;
              bottom: 20px;
            }

            &__picture {
              margin-bottom: 15px;

              img {
                max-width: 100%;
              }
            }

            &__info {
              margin-bottom: 15px;

              .name {
                font-size: 18px;
                font-weight: 600;
              }
            }

            &__viewpoint {
              opacity: 0.2;
              .excerpt {
                font-size: 15px;
                font-weight: 400;
                line-height: 27px;
              }
            }

            &__rateStar {
              .filled-star {
                color: #ba9f79;
              }
            }
          }
        }

        .swiper-pagination {
          bottom: -42px;
          left: 0;
          width: 100%;

          .swiper-pagination-bullet {
            &.swiper-pagination-bullet-active {
              background-color: $Base_Color;
              width: 16px;
              height: 9px;
            }
          }
        }
      }
    }
  }

  /* Consulting demand */
  .Consulting-demand-section {
    margin-bottom: 100px;
    background: url("../../../images/base/index/section8/consultation.jpg")
      no-repeat center/cover;
    background-size: 101%;
    padding: 72px 80px 50px;
    min-height: 260px;
    position: relative;
    background-attachment: fixed;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(35, 40, 60, 0.9);
    }

    .consultation {
      &__title {
        margin-bottom: 22px;
        font-size: 24px;
        font-weight: 700;
      }

      &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        text-align: justify;
        margin: 0;
      }
    }

    .consultation-btn {
      .demand-btn {
        display: inline-block;
        padding: 12px 55px;
        background-color: #ffffff;
        color: #0b1e5f;
        border-radius: 25px;
        font-size: 17px;
        transition: 0.3s;

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  /* technology Brand Carousel */
  .technology-carousel-section {
    position: relative;
    z-index: 1;
    margin: 50px 0 30px 0;

    .section-heading {
      margin-bottom: 31px;
    }

    .technology-carousel-block {
      position: relative;

      &:before,
      &:after {
        position: absolute;
        z-index: 2;
        pointer-events: none;
        content: "";
        top: 0;
        bottom: 0;
        width: 226px;
      }

      &:before {
        right: 0;
        background-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          #ffffff 100%
        );
      }

      &:after {
        left: 0;
        background-image: linear-gradient(
          to right,
          #ffffff 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      .technology-carousel {
        margin: 0 -146px;

        .swiper-wrapper {
          .swiper-slide {
            max-width: 200px;

            .item-inner {
              margin: 20px 0 50px;
              background: #ffffff;
              border-radius: 10px;
              width: 100%;
              height: 85px;
              line-height: 85px;
              display: inline-block;
              transition: 0.3s;
              text-align: center;
              border: 1px solid #f1f1f1;
              cursor: pointer;

              &:hover {
                box-shadow: 0 6px 30px -5px rgba(0, 0, 0, 0.12);
              }
            }
          }
        }
      }

      .technology-carousel-arrow {
        z-index: 3;
        position: absolute;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;

        .icon {
          font-size: 29px;
        }

        &.button-next {
          top: 44px;
          left: 35px;
        }

        &.button-prev {
          right: 35px;
          top: 44px;
        }

        &:hover {
          color: #5069fc;
        }
      }
    }
  }
}
