@use "../../_sass/variable" as *;
@use "../../_sass/mixins" as *;

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  box-shadow: 3.716px 3.346px 40px 0 rgb(43 43 43 / 10%);
  z-index: 999;
  transition: top 0.5s;
  img {
    width: 60px;
    height: 60px;
  }

  .nav {
    height: 70px;
    display: flex;
    align-items: center;
    &_list {
      display: flex;
      align-items: center;
      margin: 0;
      flex: 1;
      justify-content: center;
    }
    &_item {
      list-style: none;
      margin: 0 30px;
    }

    &_link {
      font-size: 15px;
      font-weight: 500;
      color: #737373;
      position: relative;
      transition: 0.3s ease-in-out;
      &::after {
        content: "";
        position: absolute;
        background-color: $Hover_color;
        display: block;
        height: 2px;
        bottom: -5px;
        right: 0;
        left: 0;
        transform: scale(0, 1);
        transition: 0.3s ease-in-out;
      }
      &:hover {
        color: $Hover_color;
        &::after {
          transform: scale(1);
        }
      }
    }

    .hamMenu {
      display: none;
      cursor: pointer;
      z-index: 2;
      font-size: 30px;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .nav {
      justify-content: space-between;
      align-items: center;

      &_logo {
        z-index: 1;
      }

      .hamMenu {
        display: flex;
      }
      &_list {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: -100vh;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        transition: .4s ease-in-out;
        &.active {
          top:0;
        }
      }
      &_item {
        margin: 20px;
      }
      &_link {
        font-size: 19px;
      }
    }
  }
}
